.a1{
font-family: 'Kaushan Script', cursive;
color: white;
}
.a2{
  padding: 30px;
  margin-top: 40px;
  background-color: #311b92
}
.a3{
  font-size: 30px;

}
.a4{
  margin-top: 40px;
  color: white
}
.a5{
  margin: 10px;
  color: white;
}
